<nav class="navbar">
    <h2>ZenduForms</h2>
    <ul>
        <li><a href=""><i class="fa-solid fa-list-ul"></i> Forms</a></li>
        <li><a href=""><i class="fa-solid fa-user-group fa-md"></i> Customers</a></li>
        <li><a href=""><i class="fa-solid fa-signal fa-md"></i> Submissions</a></li>
        <li><a href=""><i class="fa-solid fa-history fa-md"></i> History</a></li>
        <li><a href=""><i class="fa-solid fa-chart-column fa-md"></i> Reports</a></li>
        <li><a href=""><i class="fa-solid fa-chart-line fa-md"></i> Workflow</a></li>
    </ul>
    <ul>
        <li><a href=""><i class="fa-solid fa-bell" style="padding-left: 0px; padding-right:0px;"></i></a></li>
        <li><a href=""><i class="fa-solid fa-right-from-bracket" style="padding-left: 0px; padding-right:0px;"></i></a></li>
    </ul>
</nav>
